.Board {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 75vh;
    height: auto;
    display: grid;
    place-self: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: solid 1px #e6e6e6;
}