.ScoreTimeHeader {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75vh;
    place-self: center;
}

.ScoreTimeHeader_score,
.ScoreTimeHeader_time {
    user-select: none;
}

.ScoreTimeHeader_darkMode > p {
    color: #FFFFFF;
}

@media screen and (min-width: 700px) {
    .ScoreTimeHeader {
        padding: 0;
    }
}

@media screen and (min-width: 1100px) {
    .ScoreTimeHeader {
        align-self: end;
    }
}