.PostGameModal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border: solid 1px #FFFFFF30;
    background-color: #00000010;
    backdrop-filter: blur(1px);
    z-index: 3;
}

.PostGameModal_container {
    position: absolute;
    display: grid;
    gap: 1rem;
    width: 90%;
    max-width: calc(700px * 0.9);
    background-color: #FFFFFF;
    border: solid 1px #00000030;
    border-radius: 5px;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem;
}

.PostGameModal_closeContainer {
    display: flex;
    justify-content: end;
}

.PostGameModal_closeButton {
    font-size: 1.2rem;
}

.PostGameModal_closeButton:hover {
    cursor: pointer;
    opacity: 0.5;
}

.PostGameModal_canvasContainer {
    display: grid;
    gap: 1rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 0.5rem;
}

.PostGameModal_title,
.PostGameModal_text {
    text-align: center;
}

.PostGameModal_scoreContainer {
    aspect-ratio: 1/1;
    width: 10rem;
    height: auto;
    border: solid 2px #b58863;
    border-radius: 10rem;
    display: grid;
    gap: 0.5rem;
    place-content: center;
    justify-self: center;
    text-align: center;
}

.PostGameModal_score {
    font-size: 2rem;
    font-weight: bold;
}

.PostGameModal_metricsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    text-align: center;
}

.PostGameModal_metric {
    border: solid 1px #b58863;
    border-radius: 5px;
    padding: 0.5rem;
}

.PostGameModal_metricNumber {
    font-size: 1.2rem;
}

.PostGameModal_metricText {
    font-size: 0.8rem;
}

.PostGameModal_shareContainer,
.PostGameModal_callToAction {
    padding-top: 1rem;
    border-top: solid 1px #00000030;
    text-align: center;
}

.PostGameModal_shareButton {
    background-color: #b58863;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    color: #FFFFFF;
}

.PostGameModal_shareButton:hover {
    cursor: pointer;
    font-weight: bold;
}

.PostGameModal_callToActionLink {
 color: blue;
}

.PostGameModal_callToActionLink:hover {
    text-decoration: underline;
}

.PostGameModal_clipboardModal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    padding: 1rem;
    background-color: #b58863;
    border: solid 1px #00000030;
    border-radius: 5px;
}

.PostGameModal_clipboardModalText {
    color: #FFFFFF;
}

.PostGameModal_darkMode > .PostGameModal_container {
    background-color: #2c2c2c;
    border: solid 1px #FFFFFF30;
}

.PostGameModal_darkMode > div > .PostGameModal_canvasContainer{
    background-color: #2c2c2c;
}

.PostGameModal_darkMode > div > .PostGameModal_shareContainer,
.PostGameModal_darkMode > div > .PostGameModal_callToAction {
    border-color: #FFFFFF30;
}

.PostGameModal_darkMode > div > div > .PostGameModal_scoreContainer,
.PostGameModal_darkMode > div > div > div > .PostGameModal_metric {
    border-color: #769656;
}

.PostGameModal_darkMode > div > div > .PostGameModal_shareButton {
    background-color: #769656;
}

.PostGameModal_darkMode > div > div > button,
.PostGameModal_darkMode > div > div > h2,
.PostGameModal_darkMode > div > div > p,
.PostGameModal_darkMode > div > div > div > p,
.PostGameModal_darkMode > div > div > div > div > p,
.PostGameModal_darkMode > div > div > span {
    color: #FFFFFF;
}

.PostGameModal_darkMode > div > div > .PostGameModal_callToActionLink {
    color: aqua;
}



@media screen and (min-width: 800px) {
    .PostGameModal_container {
        top: 20%
    }

    .PostGameModal_metric {
        padding: 1rem 0;
    }
}