.Game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.Game_instructionsContainer {
    padding: 0 0.5rem;
    display: grid;
    width: 100%;
    max-width: 75vh;
    place-self: center;
    gap: 0.5rem;
}

.Game_gameAreaContainer {
    display: grid;
    gap: 0.5rem;
}

.Game_buttonsContainer {
    display: flex;
    padding: 0 0.5rem;
    width: 100%;
    max-width: 75vh;
    place-self: center;
}

.Game_startButton {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #FFFFFF30;
    border-radius: 5px;
    background-color: #b58863;
    color: #FFFFFF;
    font-size: 1rem;
}

.Game_startButton:hover {
    cursor: pointer;
    font-weight: bold;
}

.Game_darkMode > div > p {
    color: #FFFFFF;
}

.Game_darkMode > div > .Game_startButton {
    background-color: #769656;
}

@media screen and (min-width: 700px) {
    .Game_instructionsContainer {
        padding: 0
    }
}

@media screen and (min-width: 1100px) {
    .Game {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        column-gap: 1rem;
        padding: 1rem;
    }
    .Game_gameAreaContainer {
        grid-row: 1/4;
        grid-column: 1/2;
        align-self: start;
    }
    .Game_instructionsContainer {
        place-self: start;
    }
    .Game_buttonsContainer {
        justify-self: start;
        align-self: end;
        padding: 0;
        padding-bottom: 0.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .Game {
        padding: 1rem 10%;
    }
}