.Instructions {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 550px;
    justify-self: center;
    padding-top: 2rem;
    gap: 0.2rem;
}

.Instructions_summary {
    font-size: 1.2rem;
}

.Instructions_textContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Instructions_list {
    display: grid;
    gap: 0.5rem;
    padding-left: 1.5rem;
}

.Instructions_listitem {
    font-size: 1rem;
}

.Instructions_exampleContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Instructions_callToAction {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: solid 1px #00000030;
}

.Instructions_callToActionLink {
 color: blue;
}

.Instructions_callToActionLink:hover {
    text-decoration: underline;
}

.Instructions_darkMode > h2,
.Instructions_darkMode > p,
.Instructions_darkMode > ul > li,
.Instructions_darkMode > div > h3,
.Instructions_darkMode > div > span,
.Instructions_darkMode > div > p {
    color: #FFFFFF;
}

.Instructions_darkMode > div > a {
    color: aqua;
}

.Instructions_darkMode > .Instructions_callToAction {
    border-color: #FFFFFF30;
}