.Navbar {
    position: relative;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: solid 1px #00000030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar_title {
    font-size: 1.2rem;
}

.Navbar_hamburgerContainer {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.Navbar_hamburger {
    fill: #000000;
    width: 2rem;
    height: auto;
    border-radius: 5px;
}

.Navbar_navButtonsContainer {
    display: none;
    background: #FFFFFF;
    border: solid 1px #00000030;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
}

.Navbar_navButton {
    background: none;
    border: solid 1px #00000030;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Navbar_navButton:hover {
    cursor: pointer;
}

.Navbar_darkMode > h1 > a,
.Navbar_darkMode > div > button,
.Navbar_darkMode > div > button > a {
    color: #FFFFFF;
}

.Navbar_darkMode > .Navbar_navButtonsContainer {
    background-color: #2d2d2d;
}

.Navbar_darkMode > button > svg > rect {
    fill: #FFFFFF;
}