.ExampleBoard {
    aspect-ratio: 5/3;
    width: calc(100% * (5/8));
    max-width: calc(700px * (5/8));
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}