.RegisterForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 500px;
    justify-self: center;
    padding-top: 2rem;
}

.RegisterForm_inputContainer {
    display: grid;
    gap: 0.2rem;
}

.RegisterForm_label {
    font-weight: bold;
}

.RegisterForm_input {
    padding: 0.5rem;
    border: solid 1px #00000080;
    border-radius: 5px;
}

.RegisterForm_submitButton {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #FFFFFF30;
    border-radius: 5px;
    background-color: #b58863;
    color: #FFFFFF;
    font-size: 1rem;
}

.RegisterForm_submitButton:hover {
    cursor: pointer;
    font-weight: bold;
}

.RegisterForm_error {
    color: red;
}

.RegisterForm_darkMode > h2,
.RegisterForm_darkMode > div > label {
    color: #FFFFFF;
}

.RegisterForm_darkMode > div > input {
    background-color: #3c3a38;
    border: solid 1px #FFFFFF30;
    color: #FFFFFF;
}

.RegisterForm_darkMode > div > .RegisterForm_submitButton {
    background-color: #769656;
}

